.list {
  @include content-padding-inline;

  &__content {
    @include grid(mobile);

    @include on-tablet {
      @include grid(tablet);
    }

    @include on-desktop {
      @include grid(desktop);
    }

    row-gap: 40px;
  }

  &__dropdowns {
    grid-column: 1 / -1;
    grid-row: 1 / 1;

    display: flex;
    gap: 16px;

    @include on-tablet {
      grid-column: span 7;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 6;
    }
  }
}