.cart {
  @include grid(mobile);
  @include content-padding-inline;

  @include on-tablet {
    @include grid(tablet);
  }

  @include on-desktop {
    @include grid(desktop);
  }

  &__buttonWrapper {
    margin-block: 24px;

    grid-area: 1 / 1 / 1 / -1;
  }

  &__title {
    @include apply-typography(h1);

    font-weight: 800;
  }

  &__items {
    grid-column: 1 / -1;
    margin-block: 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__total {
    grid-column: 1 / -1;
  }

  &__emptyText {
    @include apply-typography(p);

    font-weight: 500;

    grid-column: 1 / -1;

    margin-block: 16px;
  }
}