.button {
  border: 1px solid map-get($colors, elements);

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  &__numberBlock {

  }

  &__isActive {
    background-color: map-get($colors, gray-primary);
    color: map-get($colors, white);
    border-color: map-get($colors, gray-primary);
  }
}