:export {
  white: map-get($colors, white);
  green: map-get($colors, green);
  elements: map-get($colors, elements);
}

.prod {
  flex: 0 0 var(--slide-width);
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  border: 1px solid map-get($colors, elements);
  height: 439px;
  padding: 32px;

  @include on-tablet {
    flex: 0 0 calc(41.67% - 8px);
  }

  @include on-desktop {
    flex: 0 0 calc(25% - 12px);
    height: 512px;
  }

  &__contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: 196px;

    @include on-tablet {
      height: 268px;
    }
  }

  &__imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-grow: 1;
  }

  &__img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  &__link {
    padding-top: 16px;
  }

  &__buttonLink {
    @include apply-typography(button);

    text-align: left;
    color: map-get($colors, gray-primary);
  }

  &__priceWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__price {
    @include apply-typography(h2);

    @include on-tablet {
      font-size: 22px;
      line-height: 31px;
    }
  }

  &__discount {
    @include apply-typography(h3);

    color: map-get($colors, secondary);
    text-decoration: line-through;
  }

  &__line {
    flex-shrink: 0;

    height: 1px;
    background-color: map-get($colors, elements);
  }

  &__specs {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding-block: 8px;
  }

  &__buttonWrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__cartButton {
    flex-grow: 1;
    background-color: map-get($colors, gray-primary);
    border: 1px solid transparent;

    padding: 9.5px;
    color: map-get($colors, white);

    &:hover {
      transition: box-shadow map-get($duration, '0.3') ease;
      box-shadow: 0px 3px 13px 0px #17203166;
    }
  }

  &__favButton {
    height: 40px;
    width: 40px;
    padding: 12px;

    border: 1px solid map-get($colors, icons);

    &:hover {
      transition: border-color map-get($duration, '0.3') ease;
      border-color: map-get($colors, gray-primary);
    }
  }

  &__favImg {
    height: 100%;
    width: 100%;
  }

  @include on-tablet {
    height: 512px;
  }
}
