.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;
  width: 32px;

  opacity: 1;
  border: 1px solid map-get($colors, icons);

  &__disabled {
    border-color: map-get($colors, elements);
    opacity: 0.5;
  }

  &__imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 16px;
    width: 16px;
  }

  &__img {
    display: flex;

    height: 10px;
    width: 6px;
  }
}
